@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?ag7brq');
  src: url('../fonts/icomoon.eot?ag7brq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ag7brq') format('truetype'),
    url('../fonts/icomoon.woff?ag7brq') format('woff'),
    url('../fonts/icomoon.svg?ag7brq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-announcement:before {
  content: '\e900';
}
.icon-data-analysis:before {
  content: '\e901';
}
.icon-development:before {
  content: '\e902';
}
.icon-finance:before {
  content: '\e903';
}
.icon-graph:before {
  content: '\e904';
}
.icon-lauch:before {
  content: '\e905';
}
.icon-light-bulb:before {
  content: '\e906';
}
.icon-production:before {
  content: '\e907';
}
.icon-promotion:before {
  content: '\e908';
}
.icon-redo-arrow:before {
  content: '\e909';
}
.icon-solution:before {
  content: '\e90a';
}
.icon-stakeholder:before {
  content: '\e90b';
}
